.sharkTank {
  background-image: url("https://miro.medium.com/max/4000/0*vomBLBaXJ1FBLrt3.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 45%;
  margin: 10px 0 0 40px;
}