
.graveYard {
  background-image: url("https://thebargellist.files.wordpress.com/2012/02/p1000477.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 45%;
  margin: 10px 0 0 40px;
}
